<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=9" />

    <title>物联网城市电网柜环境巡检系统</title>

    <link href="~/css/common.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <script type="text/javascript" src="~/js/buddle.jquery.min.js"></script>
    <link href="~/css/htai.css" rel="stylesheet" />
</head>
<body>
    <section id="container">
        <div class="top">
            <!--logo start-->
            <a href="index.html" class="logo">
                <b>物联网城市电网柜环境巡检系统</b>
            </a>
            <!--logo end-->

            <img src="~/images/logo.png" style="height: 30px; float: right; margin-top: 15px;" />

            <div class="top_more">
                <a href="login/LogOff" class="top_more1">登出</a>
            </div>
        </div>

        <div class="top-under">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    @await Component.InvokeAsync("Menu")

                    <a href="/device?t=1" class="device-state"></a>
                </div>
            </nav>
        </div>

        <div class="content">
            <section id="main-content">
                <section class="wrapper">
                    @RenderBody()
                </section>
            </section>
        </div>
    </section>
    <script type="text/javascript" src="~/js/bootcss.min.js"></script>
    <script type="text/javascript" src="~/js/integrate.min.js"></script>
</body>
</html>
