<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=9" />

    <title>环网柜智能云在线监测</title>

    <link href="~/css/common.css" rel="stylesheet" />
    <script type="text/javascript" src="~/js/buddle.jquery.min.js"></script>
</head>
<body>
    <section id="container">
        <div class="top">
            <!--logo start-->
            <a href="index.html" class="logo">
                <b>环网柜智能云在线监测</b>
            </a>
            <!--logo end-->
            @*<img src="~/images/logo.png" style="height: 30px; float: right; margin-top: 15px;" />*@

            <div class="top_more">
                <a href="login/LogOff" class="top_more1" style="float:right;">登出</a>
                <a href="#" class="top_more1" data-toggle="modal" data-target="#dlg_password" style="float:right;width:70px;">修改密码</a>
            </div>
        </div>

        <div class="top-under">
            <nav class="navbar navbar-inverse" style="margin-bottom:0;">
                <div class="container-fluid">
                    @await Component.InvokeAsync("Menu")

                    <a href="/device?t=1" class="device-state"></a>
                </div>
            </nav>
        </div>

        <div class="content">
            <section id="main-content">
                <section class="wrapper">
                    @RenderBody()
                </section>
            </section>
        </div>
    </section>

    <div class="bottom">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-12">
                <div class="bottom-group">
                    <i class="fa fa-circle"></i>
                    <span>通讯故障</span>
                </div>
            </div>
            <div class="col-12">
                <div class="bottom-group">
                    <i class="fa fa-circle"></i>
                    <span>温度报警</span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="bottom-group">
                    <i class="fa fa-circle"></i>
                    <span>湿度报警</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="bottom-group">
                    <span>当前运行设备：998台</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="bottom-group">
                    <span style="float:right;margin-right:20px;">合肥万历信息科技有限公司</span>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="dlg_password" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">修改密码</h4>
                </div>
                <div class="modal-body">
                    <form id="form_password" action="login/Password" method="post">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">原密码</span>
                                <input type="password" class="form-control" name="oldPassWord" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">新密码</span>
                                <input type="password" class="form-control" name="newPassWord" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">确认密码</span>
                                <input type="password" class="form-control" name="checkPassWord" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="btn_password">保存</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="~/js/bootcss.min.js"></script>
    <script type="text/javascript" src="~/js/integrate.min.js"></script>
</body>
</html>
