@using DQGJK.Models;
@model List<Station>

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">通讯故障设备</h4>
        </div>
        <div class="modal-body" style="max-height:600px;overflow:auto;">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <td>环网柜名称</td>
                            <td>环网柜编号</td>
                            <td>最近通讯时间</td>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (Station item in Model)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Code</td>
                                    <td>@item.ModifyTime</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        </div>
    </div>
</div>
