<link href="~/js/select2/select2.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-12">
        <div class="content-panel panel panel-default panel-full">
            <div class="panel-body">
                <div class="row" style="margin-bottom: 15px;">
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        <div class="input-group">
                            <span class="input-group-addon">省</span>
                            <input type="hidden" data-select="p" class="form-control _select" name="Province" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            <span class="input-group-addon">市</span>
                            <input type="hidden" data-select="ci" class="form-control _select" name="City" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            <span class="input-group-addon">县</span>
                            <input type="hidden" data-select="co" class="form-control _select" name="Country" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            <span class="input-group-addon">环网柜</span>
                            <input type="text" data-select="s" class="form-control _select" name="stationID" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <a class="btn btn-info query" href="javascript:void(0)">查询</a>
                    </div>
                </div>
                <section id="unseen">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <span>长江路1#环网柜</span>
                            <span style="font-size: 12px;margin-left: 30px;">更新时间：2018-03-06 12:30:56</span>
                        </div>
                    </div>
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="padding-left:2%;padding-right:2%;">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="panel panel-info">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">#1 柜</h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="_board" data-title="温度" data-value="60" data-board="thermograph" id="board0" style="min-width: 200px; max-width: 400px; height: 220px; margin: 0 auto"></div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="_board" data-title="湿度" data-value="40" data-board="ygrometer" id="board1" style="min-width: 200px; max-width: 400px; height: 220px; margin: 0 auto"></div>
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-bottom:10px;">
                                                    <div class="col-30">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">温度阈值</span>
                                                            <input type="text" class="form-control" name="Lat" value="66.66" />
                                                        </div>
                                                    </div>
                                                    <div class="col-30">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">湿度阈值</span>
                                                            <input type="text" class="form-control" name="Lat" value="66.66" />
                                                        </div>
                                                    </div>
                                                    <div class="col-10">
                                                        <button type="button" class="btn btn-info save">下发</button>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-30">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">除湿</span>
                                                            <select name="Dehumidify" class="form-control">
                                                                <option value="1">开启</option>
                                                                <option value="0">关闭</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-30">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">继电器1</span>
                                                            <select name="Relay1" class="form-control">
                                                                <option value="1">合</option>
                                                                <option value="0">分</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-30">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">继电器2</span>
                                                            <select name="Relay2" class="form-control">
                                                                <option value="1">合</option>
                                                                <option value="0">分</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-10">
                                                        <button type="button" class="btn btn-info save">下发</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="panel panel-info">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">#2 柜</h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="_board" data-title="温度" data-value="60" data-board="thermograph" id="board2" style="min-width: 200px; max-width: 400px; height: 220px; margin: 0 auto"></div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="_board" data-title="湿度" data-value="40" data-board="ygrometer" id="board3" style="min-width: 200px; max-width: 400px; height: 220px; margin: 0 auto"></div>
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-bottom:10px;">
                                                    <div class="col-30">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">温度阈值</span>
                                                            <input type="text" class="form-control" name="Lat" value="66.66" />
                                                        </div>
                                                    </div>
                                                    <div class="col-30">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">湿度阈值</span>
                                                            <input type="text" class="form-control" name="Lat" value="66.66" />
                                                        </div>
                                                    </div>
                                                    <div class="col-10">
                                                        <button type="button" class="btn btn-info save">下发</button>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-30">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">除湿</span>
                                                            <select name="Dehumidify" class="form-control">
                                                                <option value="1">开启</option>
                                                                <option value="0">关闭</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-30">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">继电器1</span>
                                                            <select name="Relay1" class="form-control">
                                                                <option value="1">合</option>
                                                                <option value="0">分</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-30">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">继电器2</span>
                                                            <select name="Relay2" class="form-control">
                                                                <option value="1">合</option>
                                                                <option value="0">分</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-10">
                                                        <button type="button" class="btn btn-info save">下发</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="panel panel-info">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">#3 柜</h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="_board" data-title="温度" data-value="60" data-board="thermograph" id="board4" style="min-width: 200px; max-width: 400px; height: 220px; margin: 0 auto"></div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="_board" data-title="湿度" data-value="40" data-board="ygrometer" id="board5" style="min-width: 200px; max-width: 400px; height: 220px; margin: 0 auto"></div>
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-bottom:10px;">
                                                    <div class="col-30">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">温度阈值</span>
                                                            <input type="text" class="form-control" name="Lat" value="66.66" />
                                                        </div>
                                                    </div>
                                                    <div class="col-30">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">湿度阈值</span>
                                                            <input type="text" class="form-control" name="Lat" value="66.66" />
                                                        </div>
                                                    </div>
                                                    <div class="col-10">
                                                        <button type="button" class="btn btn-info save">下发</button>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-30">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">除湿</span>
                                                            <select name="Dehumidify" class="form-control">
                                                                <option value="1">开启</option>
                                                                <option value="0">关闭</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-30">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">继电器1</span>
                                                            <select name="Relay1" class="form-control">
                                                                <option value="1">合</option>
                                                                <option value="0">分</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-30">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">继电器2</span>
                                                            <select name="Relay2" class="form-control">
                                                                <option value="1">合</option>
                                                                <option value="0">分</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-10">
                                                        <button type="button" class="btn btn-info save">下发</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="panel panel-info">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">#4 柜</h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="_board" data-title="温度" data-value="60" data-board="thermograph" id="board6" style="min-width: 200px; max-width: 400px; height: 220px; margin: 0 auto"></div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="_board" data-title="湿度" data-value="40" data-board="ygrometer" id="board7" style="min-width: 200px; max-width: 400px; height: 220px; margin: 0 auto"></div>
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-bottom:10px;">
                                                    <div class="col-30">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">温度阈值</span>
                                                            <input type="text" class="form-control" name="Lat" value="66.66" />
                                                        </div>
                                                    </div>
                                                    <div class="col-30">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">湿度阈值</span>
                                                            <input type="text" class="form-control" name="Lat" value="66.66" />
                                                        </div>
                                                    </div>
                                                    <div class="col-10">
                                                        <button type="button" class="btn btn-info save">下发</button>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-30">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">除湿</span>
                                                            <select name="Dehumidify" class="form-control">
                                                                <option value="1">开启</option>
                                                                <option value="0">关闭</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-30">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">继电器1</span>
                                                            <select name="Relay1" class="form-control">
                                                                <option value="1">合</option>
                                                                <option value="0">分</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-30">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">继电器2</span>
                                                            <select name="Relay2" class="form-control">
                                                                <option value="1">合</option>
                                                                <option value="0">分</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-10">
                                                        <button type="button" class="btn btn-info save">下发</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/js/select2/select2.min.js"></script>
<script type="text/javascript" src="~/js/select.js"></script>

<script type="text/javascript" src="~/js/highcharts/highcharts.js"></script>
<script type="text/javascript" src="~/js/highcharts/highcharts-more.js"></script>

<script type="text/javascript" src="~/js/dashboard/dashboard.js"></script>
<script type="text/javascript" src="~/js/dashboard/dashboard.config.js"></script>

<script type="text/javascript">
    $(function () {
        $("._select").select_2();
    });
</script>