<link href="~/js/select2/select2.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-12">
        <div class="content-panel panel panel-default">
            <div class="panel-body">
                <div class="row" style="margin-bottom: 15px;">
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        <div class="input-group">
                            <span class="input-group-addon">省</span>
                            <input type="hidden" data-select="p" class="form-control _select" name="Province" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            <span class="input-group-addon">市</span>
                            <input type="hidden" data-select="ci" class="form-control _select" name="City" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            <span class="input-group-addon">县</span>
                            <input type="hidden" data-select="co" class="form-control _select" name="Country" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            <span class="input-group-addon">站点</span>
                            <input type="text" data-select="s" class="form-control _select" name="stationID" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <a class="btn btn-info query" href="javascript:void(0)">查询</a>
                    </div>
                </div>
                <section id="unseen">
                    <div class="row">
                        <div class="col-md-6 panel-border">
                            <div class="row">
                                <div class="col-md-1">
                                    <span>#1</span>
                                </div>
                                <div class="col-md-5">
                                    <div class="_board" data-title="温度" data-board="thermograph" id="boardcontainer" style="min-width: 200px; max-width: 400px; height: 220px; margin: 0 auto"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="modal fade" id="dlg_edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/js/select2/select2.min.js"></script>
<script type="text/javascript" src="~/js/select.js"></script>

<script type="text/javascript" src="~/js/highcharts/highcharts.js"></script>
<script type="text/javascript" src="~/js/highcharts/highcharts-more.js"></script>

<script type="text/javascript" src="~/js/dashboard/dashboard.js"></script>
<script type="text/javascript" src="~/js/dashboard/dashboard.config.js"></script>

<script type="text/javascript">
    $(function () {
        $("._select").select_2();
    });
</script>
