<div class="table-responsive">
    <table class="table table-bordered table-condensed" id="deviceList">
        <tbody>
            <tr>
                <td style="line-height: 2.5; cursor: pointer;">长江路#1环网柜#1分柜</td>
            </tr>
            <tr>
                <td style="line-height: 2.5; cursor: pointer;">长江路#1环网柜#2分柜</td>
            </tr>
            <tr>
                <td style="line-height: 2.5; cursor: pointer;">长江路#1环网柜#3分柜</td>
            </tr>
            <tr>
                <td style="line-height: 2.5; cursor: pointer;">长江路#2环网柜#1分柜</td>
            </tr>
            <tr>
                <td style="line-height: 2.5; cursor: pointer;">长江路#2环网柜#2分柜</td>
            </tr>
            <tr>
                <td style="line-height: 2.5; cursor: pointer;">长江路#2环网柜#3分柜</td>
            </tr>
            <tr>
                <td style="line-height: 2.5; cursor: pointer;">胜利路#1环网柜#1分柜</td>
            </tr>
            <tr>
                <td style="line-height: 2.5; cursor: pointer;">胜利路#2环网柜#2分柜</td>
            </tr>
        </tbody>
    </table>
</div>