<link href="~/js/select2/select2.css" rel="stylesheet" />

<style>
    .pagination { margin: 0; }
</style>

<div class="row">
    <div class="col-md-3">
        <div class="content-panel panel panel-default panel-full" style="overflow: auto;">
            <div class="panel-body" style="height:auto;">
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-9">
                        <div class="input-group">
                            <span class="input-group-addon">省</span>
                            <input type="text" data-select="p" class="form-control _select" name="Province" />
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-9">
                        <div class="input-group">
                            <span class="input-group-addon">市</span>
                            <input type="text" data-select="ci" class="form-control _select" name="City" />
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-9">
                        <div class="input-group">
                            <span class="input-group-addon">县</span>
                            <input type="text" data-select="co" class="form-control _select" name="Country" />
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-bottom: 15px;">
                    <div class="col-md-9">
                        <div class="input-group">
                            <span class="input-group-addon">环网柜</span>
                            <input type="text" data-select="s" class="form-control _select" name="StationCode" />
                        </div>
                    </div>

                    <div class="col-md-3">
                        <a class="btn btn-info query" style="float: right;" href="javascript:void(0)">查询</a>
                    </div>
                </div>
            </div>

            <section id="unseen" style="height:auto;"></section>
        </div>
    </div>
    <div class="col-md-9">
        <div id="map" style="margin-top: 20px; width: 98%; height: 100%"></div>
    </div>
</div>

<script type="text/javascript" src="http://api.map.baidu.com/getscript?v=2.0&ak=Z5CIYSIzswVbrGonVn3PDaVn475u6k2j&services=&t=20180201111639"></script>

<script type="text/javascript" src="~/js/select2/select2.min.js"></script>
<script type="text/javascript" src="~/js/select.js"></script>

<script type="text/javascript">
    $(function () {
        $("._select").select_2();
    });
</script>

<script type="text/javascript" src="~/js/Page/map.js"></script>