<div class="table-responsive">
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <td>设备名称</td>
                <td>设备编号</td>
                <td>日期</td>
                <td>平均温度</td>
                <td>最高温度</td>
                <td>最低温度</td>
                <td>平均湿度</td>
                <td>最高湿度</td>
                <td>最低湿度</td>
                <td>温度报警次数</td>
                <td>湿度报警次数</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>长江路#1环网柜#1分柜</td>
                <td>100101</td>
                <td>2018-2-28</td>
                <td>8</td>
                <td>15</td>
                <td>5</td>
                <td>30</td>
                <td>50</td>
                <td>10</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>长江路#1环网柜#2分柜</td>
                <td>100102</td>
                <td>2018-2-28</td>
                <td>8</td>
                <td>15</td>
                <td>5</td>
                <td>30</td>
                <td>50</td>
                <td>10</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>长江路#1环网柜#3分柜</td>
                <td>100103</td>
                <td>2018-2-28</td>
                <td>8</td>
                <td>15</td>
                <td>5</td>
                <td>30</td>
                <td>50</td>
                <td>10</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>长江路#2环网柜#1分柜</td>
                <td>100201</td>
                <td>2018-2-28</td>
                <td>8</td>
                <td>15</td>
                <td>5</td>
                <td>30</td>
                <td>50</td>
                <td>10</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>长江路#2环网柜#2分柜</td>
                <td>100202</td>
                <td>2018-2-28</td>
                <td>8</td>
                <td>15</td>
                <td>5</td>
                <td>30</td>
                <td>50</td>
                <td>10</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>长江路#2环网柜#3分柜</td>
                <td>100203</td>
                <td>2018-2-28</td>
                <td>8</td>
                <td>15</td>
                <td>5</td>
                <td>30</td>
                <td>50</td>
                <td>10</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>胜利路#1环网柜#1分柜</td>
                <td>200101</td>
                <td>2018-2-28</td>
                <td>8</td>
                <td>15</td>
                <td>5</td>
                <td>30</td>
                <td>50</td>
                <td>10</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>胜利路#1环网柜#2分柜</td>
                <td>200102</td>
                <td>2018-2-28</td>
                <td>8</td>
                <td>15</td>
                <td>5</td>
                <td>30</td>
                <td>50</td>
                <td>10</td>
                <td>0</td>
                <td>0</td>
            </tr>
        </tbody>
    </table>
</div>