<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">下发命令</h4>
        </div>
        <div class="modal-body">
            <div>
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">环网柜信息</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">分柜继电器设置</a></li>
                    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">分柜阈值设置</a></li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home" style="margin-top:20px;">
                        <form id="form_edit" action="station/Edit" method="post">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">IP</span>
                                    <input type="text" class="form-control" name="IP" value="" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">端口</span>
                                    <input type="text" class="form-control" name="Port" value="" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">上报时间间隔</span>
                                    <input type="text" class="form-control" name="Name" value="" />
                                </div>
                            </div>
                            <div class="form-group" style="text-align:center;">
                                <button type="button" class="btn btn-primary save">下发</button>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile" style="margin-top:20px;">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">#1 柜</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <span class="input-group-addon">除湿</span>
                                            <select name="Dehumidify" class="form-control">
                                                <option value="1">开启</option>
                                                <option value="0">关闭</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <span class="input-group-addon">继电器1</span>
                                            <select name="Relay1" class="form-control">
                                                <option value="1">合</option>
                                                <option value="0">分</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <span class="input-group-addon">继电器2</span>
                                            <select name="Relay2" class="form-control">
                                                <option value="1">合</option>
                                                <option value="0">分</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">#2 柜</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <span class="input-group-addon">除湿</span>
                                            <select name="Dehumidify" class="form-control">
                                                <option value="1">开启</option>
                                                <option value="0">关闭</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <span class="input-group-addon">继电器1</span>
                                            <select name="Relay1" class="form-control">
                                                <option value="1">合</option>
                                                <option value="0">分</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <span class="input-group-addon">继电器2</span>
                                            <select name="Relay2" class="form-control">
                                                <option value="1">合</option>
                                                <option value="0">分</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">#3 柜</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <span class="input-group-addon">除湿</span>
                                            <select name="Dehumidify" class="form-control">
                                                <option value="1">开启</option>
                                                <option value="0">关闭</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <span class="input-group-addon">继电器1</span>
                                            <select name="Relay1" class="form-control">
                                                <option value="1">合</option>
                                                <option value="0">分</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <span class="input-group-addon">继电器2</span>
                                            <select name="Relay2" class="form-control">
                                                <option value="1">合</option>
                                                <option value="0">分</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="text-align:center;">
                            <button type="button" class="btn btn-primary save">下发</button>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="messages">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">#1 柜</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">温度阈值</span>
                                            <input type="text" class="form-control" name="Lat" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">湿度阈值</span>
                                            <input type="text" class="form-control" name="Lat" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">#2 柜</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">温度阈值</span>
                                            <input type="text" class="form-control" name="Lat" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">湿度阈值</span>
                                            <input type="text" class="form-control" name="Lat" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">#3 柜</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">温度阈值</span>
                                            <input type="text" class="form-control" name="Lat" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">湿度阈值</span>
                                            <input type="text" class="form-control" name="Lat" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="text-align:center;">
                            <button type="button" class="btn btn-primary save">下发</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
