<link href="~/js/select2/select2.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-12">
        <div class="content-panel panel panel-default panel-full">
            <div class="panel-body">
                <div class="row" style="margin-bottom: 15px;">
                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon">环网柜</span>
                            <input type="text" class="form-control" placeholder="请输入环网柜名称或编号" name="key" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <a class="btn btn-info query" style="margin-left: 20px;" href="javascript:void(0)">查询</a>
                        <button class="btn btn-info" type="button" data-toggle="modal" data-target="#dlg_edit">添加</button>
                    </div>
                </div>
                <section id="unseen"></section>
                <div class="modal" id="dlg_edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/js/Page/station.js"></script>
<script type="text/javascript" src="~/js/select2/select2.min.js"></script>
<script type="text/javascript" src="~/js/select.js"></script>
